# root
.DS_Store
.env
*.log

# backend
/OUR_Hotels_Backend/target
/OUR_Hotels_Backend/.idea
/OUR_Hotels_Backend/.settings
/OUR_Hotels_Backend/.classpath
/OUR_Hotels_Backend/.project

# frontend
/OUR_Hotels_Frontend/node_modules
/OUR_Hotels_Frontend/build
